<app-navigation [user]="user" (signedOut)="signOut($event)"></app-navigation>
<div class="container-fluid dashboard-wrap">
  <div class="row h-100">
    <div class="col-4 h-100">
        <div class="user" style="height: 60px;">
          <h4 class="font-weight-light user-greeting" *ngIf="user">{{greeting}}, {{user.name.split(' ')[0]}}</h4>
        </div>
        <app-friends></app-friends>
        <hr/>
    </div>
    <div class="col-8 h-100">
      <ngb-tabset #t="ngbTabset" (tabChange)="tabRouting($event)" activeId="tab-{{activatedRoute.snapshot.queryParams['tab']}}">
        <ngb-tab title="Challenges" id="tab-challenges">
          <ng-template ngbTabContent>
            <app-challenges></app-challenges>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-notifications">
          <ng-template ngbTabTitle>Notifications</ng-template>
          <ng-template ngbTabContent>
            <app-notifications></app-notifications>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
